<div class="top_left">
        		<ul id="nav">
                
                	<li class="top"><a href="index.php" class="top_link"><span><?php echo $l_home?></span></a></li>
                
                	<li class="top"><a href="fotografe.php" class="top_link"><span><?php echo $l_foto?></span></a></li>
                
                	<li class="top"><a href="portfolio.php" class="top_link"><span><?php echo $l_port?></span></a></li>
                    
                    
                	<li class="top"><a href="#" id="misc" class="top_link"><span class="down"><?php echo $l_info?></span></a>
						<ul class="sub">
							<li><a href="aanbod.php"><?php echo $l_offer?></a></li>
							<li><a href="reportages.php"><?php echo $l_report?></a></li>
                            <li><a href="prijzen.php"><?php echo $l_price?></a></li>
                            <li><a href="digi.php"><?php echo $l_digi?></a></li>
                            <li><a href="linnen.php"><?php echo $l_linnen?></a></li>
                            <li><a href="cadeaubonnen.php"><?php echo $l_gift?></a></li>
                            <li><a href="algemenevoorwaarden.php"><?php echo $l_cond?></a></li>
						</ul>
					</li>
                    
                    <li class="top"><a href="contact.php" class="top_link"><span><?php echo $l_contact?></span></a></li>
                    
                    <li class="top"><a href="links.php" class="top_link"><span><?php echo $l_links?></span></a></li>
                    
                </ul>
     
        	</div>